<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coin Market Cap - {% block title %}{% endblock %}</title>
        <style>
            header{
            border-style: solid;
            border-width: 3px;
            background-color: lightgray;
            text-align: center;
            }
            footer {
                border-style: solid;
                border-width: 3px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: lightgrey;
                text-align: center;
            } 


        </style>
    </head>
    <body>
        <header>
            <p>Gestion de Criptmonedas</p>
        </header>
        <br>

        <div>
            <form action="/" method="GET">
                <input type="submit" value="Inicio">
            </form>
        </div>
        <br>
        <div>
            <form action="/purchase" method="GET">
                <input type="submit" value="Compra-Venta">
            </form>
        </div>
        <br>
        <div>
            <form action="/status" method="GET">
                <input type="submit" value="Estado">
            </form>
        </div>
        <br>

            <section>
                {% block seccion_a_desarrollar %}}{% endblock %}
            </section>

        <footer>
            <br>
            &copy; Daniel Barriele - 2021 - KeepCoding
            <p>Contacto:<a href="mailto:d.barriele@gmail.com">D.barriele@gmail.com</a></p>
        </footer>
    </body>
</html>
