<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coin Market Cap</title>
    </head>
    <body>
        <header>
            <p>Visual General</p>
        </header>
        <table>
            <tr>
                <th>Moneda</th>
                <th>Cotizacion</th>
            </tr>
            <tr>
                <td>Moneda 1</td>
                <td>30255</td>
            </tr>
            <tr>
                <td>Moneda 2</td>
                <td>0.35</td>
            </tr>
            <tr>
                <td>Mondea 3</td>
                <td>0.25</td>
            </tr>
            <tr>
                <td>Mondea 4</td>
                <td>0.15</td>
            </tr>
            <tr>
                <td>Moneda 5</td>
                <td>0.10</td>
            </tr>
        </table>
        <section>
            <h1></h1>
        </section>
        <footer>
            &copy; Daniel Barriele - KeepCoding
        </footer>
    </body>
</html>