{%extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block seccion_a_desarrollar %}
    <style>
        table, th, td{
        color: currentColor;
        border: 3px solid rgb(29, 14, 116);
        padding: 10px;
        border-collapse: collapse;
        margin: 0 auto;
        }
        .comprainicio{
        
        }
        p{
        text-align: center;    
        }
    </style>

<br>

<table>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Crypto Inicial</th>
        <th>Cantidad Inicial</th>
        <th>Crypto Final</th>
        <th>Cantidad Final</th>
    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>

</table>
<br>

<p>Sin Movimientos</p><!-- Esto no tiene que salir, hay que meterlo en un bloque junja if y llevarselo a views para que funcione  -->

<div class="comprainicio">
    <form action="/purchase" method="GET">
        <input type="submit" value="Realizar Compra">
    </form>
</div>
<br>

{% endblock %}