{%extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block seccion_a_desarrollar %}
    <style>
        table{
        color: currentColor;
        
        }
    </style>


    <table>
        <tr>
            <td>EUR</td>
            <td>30255</td>
        </tr>
        <tr>
            <td>BT</td>
            <td>0.35</td>
        </tr>
        <tr>
            <td>ETH</td>
            <td>0.25</td>
        </tr>
        <tr>
            <td>XRP</td>
            <td>0.15</td>
        </tr>
        <tr>
            <td>LTC</td>
            <td>0.10</td>
        </tr>
        <tr>
            <td>BCH</td>
            <td>0.10</td>
        </tr>
        <tr>
            <td>BNB</td>
            <td>0.10</td>
        </tr>
        <tr>
            <td>USDT</td>
            <td>0.10</td>
        </tr>
        <tr>
            <td>EOS</td>
            <td>0.10</td>
        </tr>
        <tr>
            <td>BSV</td>
            <td>0.10</td>
        </tr>
        <tr>
            <td>XLM</td>
            <td>0.10</td>
        </tr>
        <tr>
            <td>ADA</td>
            <td>0.10</td>
        </tr>
        <tr>
            <td>TRX</td>
            <td>0.10</td>
        </tr>

{% endblock %}